.processmanager_icon_processes {
    background: url(..//img/process.svg) center center no-repeat !important;
}

.processmanager_icon_executable {
    background: url(..//img/executable.svg) center center no-repeat !important;
}

.processmanager_icon_executable_add {
    background: url(..//img/executable_add.svg) center center no-repeat !important;
}

.processmanager_icon_executable_type_cli {
    background: url(..//img/type_cli.svg) center center no-repeat !important;
}

.processmanager_icon_executable_type_pimcore {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/pimcore-sign.svg) center center no-repeat !important;
}

.processmanager_icon_executable_run {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/advance.svg) center center no-repeat !important;
}